In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression

c:\users\ankit.dubey\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
c:\users\ankit.dubey\appdata\local\programs\python\python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [2]:
data = pd.read_csv('Combined_News_DJIA.csv')

In [3]:
data.head(1)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""

In [4]:
train = data[data['Date'] < '2015-01-01']
test = data[data['Date'] > '2014-12-31']

In [11]:
ex = train.iloc[0,2]

In [12]:
print(ex)

b"Georgia 'downs two Russian warplanes' as countries move to brink of war"

In [13]:
ex = ex.lower()
print(ex)

b"georgia 'downs two russian warplanes' as countries move to brink of war"

In [14]:
ex = CountVectorizer().build_tokenizer()(ex)
print(ex)

['georgia', 'downs', 'two', 'russian', 'warplanes', 'as', 'countries', 'move', 'to', 'brink', 'of', 'war']

In [16]:
pd.DataFrame([[x,ex.count(x)] for x in set(ex)], columns=['Word', 'Count'])

         Word  Count
0   warplanes      1
1       brink      1
2     georgia      1
3       downs      1
4         two      1
5          as      1
6     russian      1
7   countries      1
8          of      1
9         war      1
10         to      1
11       move      1

In [17]:
trainheadlines = []
for row in range(0, len(train.index)):
    trainheadlines.append(' '.join(str(x) for x in train.iloc[row, 2:27]))

In [19]:
basicvectorizer = CountVectorizer()
basictrain = basicvectorizer.fit_transform(trainheadlines)
print(basictrain.shape)

(1611, 31675)

In [20]:
basicmodel = LogisticRegression()
basicmodel = basicmodel.fit(basictrain, train['Label'])

c:\users\ankit.dubey\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [21]:
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
basictest = basicvectorizer.transform(testheadlines)
prediction = basicmodel.predict(basictest)

In [23]:
pd.crosstab(test['Label'], prediction,
           rownames=['Actual'], colnames=['Predicted'])

Predicted   0    1
Actual
0          61  125
1          92  100

In [26]:
basicwords = basicvectorizer.get_feature_names()
basiccoeffs = basicmodel.coef_.tolist()[0]
coeffdf = pd.DataFrame({'Words': basicwords,
                       'Coefficient': basiccoeffs})
coeffdf = coeffdf.sort_values(['Coefficient', 'Words'], ascending=[0,1])
coeffdf.head()

          Words  Coefficient
19419   nigeria     0.497924
25261      self     0.452526
29286        tv     0.428011
15998     korea     0.425863
20135  olympics     0.425716

In [31]:
advancevectorizer = CountVectorizer(ngram_range=(2,4))
advancetrain = advancevectorizer.fit_transform(trainheadlines)

In [32]:
advancemodel = LogisticRegression()
advancemodel = advancemodel.fit(advancetrain, train['Label'])

c:\users\ankit.dubey\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [33]:
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
    advancetest = advancevectorizer.transform(testheadlines)
    advancepredictions = advancemodel.predict(advancetest)

In [34]:
pd.crosstab(test['Label'], advancepredictions, rownames=['Actual'],
           colnames=['Predicted'])

Predicted   0    1
Actual
0          37  149
1          19  173